div.separation-reset {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100vw;
	height: 100vh;

	overflow: hidden;
}

div.reset-proffy.hide {
	display: none;
}

div.container-reset {
	width: 50vw;
}

div.form-container {
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;
}

div.form-container > div.image-reset.hidden {	
	display: none;

	width: 100vw;
	height: 6rem;

	position: absolute;
	top: 0;
	left: 0;

	background-color: var(--color-primary-dark);
}

div.form-container > div.image-reset.hidden > img.goBackResetMenu {
	cursor: pointer;	
}

div.image-reset > img.HiddenLogo {
	width: 10rem;
	height: 10rem;
}

form.reset {
	height: 100vh;

	display: flex;
	justify-content: center;
	flex-direction: column;

	position: relative;
}

form > img.goBackReset {
	position: absolute;
	top: 1.5rem;

	cursor: pointer;
}

form > h1.reset-title {
	width: 25rem;

	font-family: Archivo;
	font-size: 3.5rem;
	color: var(--color-text-title);

	margin-bottom: 1rem;
}

form > p.reset-label {
	font-size: 1.55rem;
	font-family: Poppins;

	margin-bottom: 2.5rem;
}

div.reset-container-input {
	position: relative;
}

div.reset-container-input > div.reset-input {
	border: 1px solid var(--color-line-in-white);
	background-color: var(--color-input-background);

	border-radius: 1rem;

	position: relative;
} 

div.reset-container-input > div.reset-input > input.reset-email {
	width: 35rem;
	height: 5.5rem;

	outline: 0;
	border: 0;
	border-radius: 1rem;

	background: transparent;

	transition: 300ms;

	padding-left: 2rem;
}

div.reset-input > input.reset-email:focus {
	padding-top: 1.5rem;
}

div.reset-input.active::before {
	content: 'Email';

	position: absolute;
	top: 1.5rem;
	left: 2rem;

	font-size: 1.8rem;
	color: var(--color-text-complement);

	transition: 300ms;
}

div.reset-input:focus-within::before {
	content: 'Email';

	position: absolute;
	top: 0.5rem;
	left: 2rem;

	font-size: 1.5rem;

	transition: 300ms;
}

div.reset-container-input:focus-within::before {
	content: '';

	border: 1px solid var(--color-primary-darker);
    height: 4rem;
    
    position: absolute;
    top: 0.8rem;
    left: 0.14rem;

	z-index: 1;
}

form > button.reset-submit {
	width: 35rem;
	height: 5.5rem;

	margin-top: 3rem;

	outline: 0;
	border: 0;
	border-radius: 1rem;

	cursor: pointer;

	background-color: #DCDCE6;
    color: #9C98A6;

	font-family: Poppins;
	font-size: 2rem;
	font-weight: bold;

	transition: 350ms;
}

form > button.reset-submit.active {
	width: 35rem;
	height: 5.5rem;

	margin-top: 3rem;

	outline: 0;
	border: 0;
	border-radius: 1rem;

	cursor: pointer;

	background-color: var(--color-secundary);
	color: white;

	font-family: Poppins;
	font-size: 2rem;
	font-weight: bold;

	transition: 350ms;
}

form > button.reset-submit.active:hover {
	background-color: var(--color-secundary-dark);
}

@media(min-width: 1500px){
	div.reset-container-input > div.reset-input > input.reset-email {
		width: 42.5rem;
	}

	form > button.reset-submit {
		width: 42.5rem;
	}

	form > button.reset-submit.active {
		width: 42.5rem;
	}
}

@media(max-width: 760px){
	div.reset-proffy {
		display: none;
	}

	div.container-reset {
		width: 100vw;
	}

	form > img.goBackReset {
		display: none;
	}

	div.form-container > div.image-reset.hidden {
		display: flex;
		align-items: center;
		justify-content: space-between;

		padding: 1.5rem 3.5rem;
	}

	div.reset-container-input > div.reset-input > input.reset-email {
		width: 42.5rem;
	}

	form > button.reset-submit {
		width: 42.5rem;
	}

	form > button.reset-submit.active {
		width: 42.5rem;
	}
}

@media(max-width: 460px){
	div.reset-container-input > div.reset-input > input.reset-email {
		width: 35rem;
	}

	form > button.reset-submit {
		width: 35rem;
	}

	form > button.reset-submit.active {
		width: 35rem;
	}
}

@media(max-width: 380px){
	div.reset-container-input > div.reset-input > input.reset-email {
		width: 31.5rem;
	}

	form > button.reset-submit {
		width: 31.5rem;
	}

	form > button.reset-submit.active {
		width: 31.5rem;
	}

	form > h1.reset-title {
		font-size: 3rem;
	}

	form > p.reset-label {
		font-size: 1.45rem;
	} 
}